<div class="page-area">

  <h2>All Events</h2>

  <div class="grid-4">
    <div class="comm-card" *ngFor="let e of events" (click)="openEvent(e)">
      <div class="comm-top" [style.background]="e.gradient">
        <i class="fas" [ngClass]="e.icon"></i>
      </div>

      <div class="comm-body">
        <h4>{{e.name}}</h4>
        <p>{{e.shortDesc}}</p>
        <span>{{e.date}}</span>
      </div>
    </div>
  </div>

  <!-- MODAL -->
  <div class="modal" *ngIf="selectedEvent">
    <div class="modal-box">
      <h3>{{selectedEvent.name}}</h3>
      <p>{{selectedEvent.shortDesc}}</p>
      <button (click)="register()">Register</button>
      <button (click)="closeEvent()">Close</button>
    </div>
  </div>

</div>