<div class="login-page">

  <div class="login-card">

    <div class="logo">
      <div class="icon"><i class="fas fa-university"></i></div>
      <h1>MPSTME Student Council</h1>
      <p>Create your account</p>
    </div>

    <!-- TOGGLE -->
    <div class="toggle">
      <button 
        [class.active]="role==='admin'"
        (click)="setRole('admin')">
        <i class="fas fa-user-shield"></i> Admin
      </button>

      <button 
        [class.active]="role==='student'"
        (click)="setRole('student')">
        <i class="fas fa-user-graduate"></i> Student
      </button>
    </div>

    <!-- NAME -->
    <div class="input-group">
      <label>Name</label>
      <input type="text" [(ngModel)]="name" placeholder="Enter name">
    </div>

    <!-- EMAIL -->
    <div class="input-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="email" placeholder="Enter email">
    </div>

    <!-- PASSWORD -->
    <div class="input-group">
      <label>Password</label>

      <div class="password-box">
        <input 
          [type]="showPassword ? 'text' : 'password'" 
          [(ngModel)]="password"
          placeholder="Enter password">

        <i class="fas"
           [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
           (click)="togglePassword()"></i>
      </div>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div class="input-group">
      <label>Confirm Password</label>
      <input 
        [type]="showPassword ? 'text' : 'password'" 
        [(ngModel)]="confirmPassword"
        placeholder="Confirm password">
    </div>

    <!-- ERROR -->
    <div class="error" *ngIf="error">
      {{error}}
    </div>

    <!-- SUCCESS -->
    <div class="success" *ngIf="success">
      {{success}}
    </div>

    <!-- BUTTON -->
    <button class="login-btn" (click)="register()">
      Sign Up →
    </button>

    <!-- LINK -->
    <div class="hint">
      Already have an account? 
      <a routerLink="/login">Login</a>
    </div>

  </div>

</div>