<div class="auth-box">

  <h2>Register</h2>

  <input placeholder="Full Name" [(ngModel)]="name">
  <div class="error" *ngIf="errors.name">{{errors.name}}</div>

  <input placeholder="Email" [(ngModel)]="email">
  <div class="error" *ngIf="errors.email">{{errors.email}}</div>

  <input placeholder="Phone Number" [(ngModel)]="phone">
  <div class="error" *ngIf="errors.phone">{{errors.phone}}</div>

  <select [(ngModel)]="role" class="role-select">
    <option value="student">Student</option>
    <option value="committee">Committee</option>
  </select>

  <input type="password" placeholder="Password" [(ngModel)]="password">
  <div class="error" *ngIf="errors.password">{{errors.password}}</div>

  <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword">
  <div class="error" *ngIf="errors.confirmPassword">{{errors.confirmPassword}}</div>

  <button (click)="register()">Register</button>

</div>